{% extends 'admin.html.twig' %}


    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <div>
            <li class="breadcrumb-item self-center">
                <h1 class="text-center mt-3 font-weight-light">Messages recept</h1>
            </li>
        </div>

    </ol>

    <table class="table table-bordered table-clear">

        <thead>
            <tr>

                <th scope="col">Title</th>
                <th scope="col">Message</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>

    <ol class="breadcrumb">

        <li class="breadcrumb-item self-center">
            <h1 class="text-center mt-3 font-weight-light">Messages sent</h1>
        </li>

    </ol>

    <table class="table table-bordered table-clear">

        <thead>
            <tr>

                <th scope="col">Title</th>
                <th scope="col">Message</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>

    <div class="users list">

        <a class="navbar-brand mr-1" href="users list.html">Users list</a>

    </div>

    <!-- /.container-fluid -->

