@charset "UTF-8";
:root {
  --font-color-botton: #474747;
  --background-color-sections: #e4e1e1;
}

.profil {
  padding-top: 5%;
}

.profil .container {
  padding: 0px;
}

.profil .container .profil-block-top-marge {
  padding: 0%;
}

.profil .container .row .profil-photos .profil-main-img {
  width: 100%;
  padding: 0%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profil .container .row .profil-photos .profil-main-img .btn {
  background-color: var(--background-color-sections);
  border-color: #737171;
}

.profil .container .row .profil-photos .profil-main-img #bouton-photo-profil {
  padding: 8px 8px;
  width: 100%;
}

.profil .container .row .profil-main-information {
  background-color: var(--background-color-sections);
  color: black;
  padding-top: 1.5%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profil .container .row .profil-main-information h4 {
  text-decoration: underline;
  font-weight: bold;
}

.profil .container .row .profil-main-information #phase-courte {
  font-style: italic;
}

.profil .container .row .profil-main-information #bottonprofil {
  margin-top: 4%;
}

.profil .container .row .profil-main-information .btn {
  color: #474743;
}

.profil .container .row .profil-main-information .btn-primary {
  background-color: #e0dddc;
  border-color: #737171;
}

.profil .container .row .profil-main-information .btn-primary a {
  color: var(--font-color-botton);
}

.dating-profile .barre-bas .container {
  padding-top: 30px;
}

.dating-profile .barre-bas .container .dating-profil-banner-hobby #description-hobby {
  background-color: var(--background-color-sections);
}

.dating-profile .barre-bas .container .dating-profil-banner-hobby #description-hobby #padding-hobby {
  padding: 5%;
}

.dating-profile .barre-bas .container .dating-profil-banner-hobby #description-hobby #padding-hobby h2 {
  text-decoration: underline;
  font-weight: bold;
}

.dating-profile .barre-bas .container .dating-profil-banner-hobby #description-hobby #padding-hobby p {
  font-weight: 0.5em;
  color: black;
}

.dating-profile .barre-bas .container .dating-profil-banner-hobby #description-hobby #padding-hobby #description-text-hobby #hobby {
  height: 200px;
}

.dating-profile .barre-bas .dating-profil-formulaires {
  padding-left: 0%;
  padding-right: 0%;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires {
  padding: 1.5% 2%;
  margin-bottom: 2%;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires #description-punchline {
  padding-right: 0px;
  padding-left: 0px;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires #description-punchline input {
  font-style: italic;
  font-size: 0.9em;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires #description-longue {
  padding-left: 0%;
  padding-right: 0%;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires #description-longue textarea {
  height: 100px;
  font-style: italic;
  font-size: 0.9em;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires #date-naissance {
  padding-left: 0%;
  padding-right: 0%;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires #date-naissance #naissance {
  color: var(--font-color-botton);
  padding-left: 50px;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires input {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires .commentaires-profil {
  font-size: 0.8em;
  font-style: italic;
  margin-top: -1%;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires p {
  font-size: 0.9em;
  font-style: italic;
  color: #302f2f;
}

.dating-profile .button-enregistrer {
  margin-top: 3rem;
  text-align: center;
}

.dating-profile .button-enregistrer .btn {
  background-color: #e0dddc;
  border-color: #737171;
}

*,
*::before,
*::after {
  -webkit-transition: none;
  transition: none;
}

body {
  color: black;
}

h2 {
  text-decoration: underline;
  font-weight: bold;
}

.description {
  background-color: var(--background-color-sections);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-control {
  color: #6e6d6d;
}

.icons-inline #pseudoh4 {
  cursor: pointer;
}

.icons-inline h4 {
  display: inline;
}

.icons-inline i {
  display: inline;
}

#icone-pseudo {
  cursor: pointer;
}

.icons-inline-p p {
  display: inline;
}

.icons-inline-p i {
  display: inline;
}

#status_change {
  position: relative;
  margin-top: 5px;
}

#status_cotainer_change {
  position: relative;
  width: 400px;
  top: 0px;
  padding: 2px;
  margin: 1%;
  display: none;
  margin-left: -1%;
}

#pseudo {
  margin: none;
  width: 312px;
}

#save_status {
  padding: 0px;
  font-size: 11px;
  float: right;
  margin-top: -7%;
}

#phrase-courte {
  cursor: pointer;
}

#phrase_val {
  margin: none;
  width: 312px;
}

#phrase_cotainer_change {
  position: relative;
  width: 400px;
  top: 0px;
  padding: 2px;
  margin: 1%;
  display: none;
  margin-left: -1%;
}

.margins-modif {
  width: 390px;
}

#save_phrase {
  padding: 0px;
  font-size: 11px;
  float: right;
  margin-top: -7%;
}

#icone-phrase {
  cursor: pointer;
}

#age {
  cursor: pointer;
}

#age_val {
  margin: none;
  width: 312px;
}

#age_cotainer_change {
  position: relative;
  width: 400px;
  top: 0px;
  padding: 2px;
  margin: 1%;
  display: none;
  margin-left: -1%;
}

#save_age {
  padding: 0px;
  font-size: 11px;
  float: right;
  margin-top: -7%;
}

#icone-age {
  cursor: pointer;
}

#ville {
  cursor: pointer;
}

#ville_val {
  margin: none;
  width: 312px;
}

#ville_cotainer_change {
  position: relative;
  width: 400px;
  top: 0px;
  padding: 2px;
  margin: 1%;
  display: none;
  margin-left: -1%;
}

#save_ville {
  padding: 0px;
  font-size: 11px;
  float: right;
  margin-top: -7%;
}

#icone-ville {
  cursor: pointer;
}

.margins-top-barre {
  margin: 50px 0px;
}

.fas {
  margin-left: 1%;
}

.input-direct {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s;
  transition: border-color .15s;
}

.help {
  color: #080808;
  outline: none;
  /*цвет подсказки*/
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

/*position de fentre help*/
.help span {
  margin-left: -999em;
  position: absolute;
}

/*le block text help*/
.help:hover span {
  font-family: Verdana, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 10px;
  top: 25px;
  z-index: 99;
  margin-left: 0;
  width: 200px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #302f2f;
}

/*block help*/
.airhelp {
  background: none repeat scroll 0 0 rgba(251, 251, 252, 0.9);
  border: 1px solid #1e1e1f;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  color: #302f2f;
  /*couleur du font du block help*/
  padding: 5px;
}

#bottonprofiledition {
  background-color: var(--background-color-sections);
  border-color: #737171;
}

#bottonprofiledition a {
  color: var(--font-color-botton);
}

#bouton-photo-profil-voir {
  padding: 8px;
  background-color: var(--background-color-sections);
}

#label-description-longue {
  margin-left: -2%;
}

label {
  font-weight: bold;
}

.fa-quote-right {
  opacity: 0.5;
  padding-right: 1%;
}

#label-description-longue-show {
  margin: 0%;
}

#show-main-image {
  border: 5px solid var(--background-color-sections);
  border-radius: 3px;
}

#show-main-image .profil-main-img {
  border-radius: 5px;
}
/*# sourceMappingURL=profil.css.map */