.profil {
  padding-bottom: 5%;
}

.profil .container {
  padding: 0px 20px 0px 20px;
}

.profil .container .profil-block-top-marge {
  padding: 0%;
}

.profil .container .row .profil-photos .profil-main-img {
  width: 100%;
  padding: 0%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profil .container .row .profil-main-information {
  background-color: #9c9c9c;
  color: black;
  padding-top: 1.5%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profil .container .row .profil-main-information h4 {
  text-decoration: underline;
  font-weight: bold;
}

.profil .container .row .profil-main-information .phase-courte {
  font-style: italic;
}

.profil .container .row .profil-main-information #bottonprofil {
  margin-top: 2%;
}

.dating-profile .barre-bas .container {
  padding-top: 30px;
}

.dating-profile .barre-bas .container .dating-profil-banner-hobby #padding-hobby {
  padding: 5%;
}

.dating-profile .barre-bas .container .dating-profil-banner-hobby #padding-hobby h2 {
  text-decoration: underline;
  font-weight: bold;
}

.dating-profile .barre-bas .container .dating-profil-banner-hobby #padding-hobby p {
  font-weight: 0.5em;
  color: black;
}

.dating-profile .barre-bas .dating-profil-formulaires {
  padding-left: 0%;
  padding-right: 0%;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires {
  padding: 1.5% 2%;
  margin-bottom: 2%;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires #description-longue {
  padding-left: 0%;
  padding-right: 0%;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires #description-longue textarea {
  height: 20%;
  height: 100px;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires .commentaires-profil {
  font-size: 0.8em;
  font-style: italic;
  margin-top: -1%;
}

.dating-profile .barre-bas .dating-profil-formulaires .padding-formulaires p {
  font-size: 0.9em;
  font-style: italic;
  color: #302f2f;
}

.dating-profile .button-enregistrer {
  margin-top: 3rem;
  text-align: center;
}

*,
*::before,
*::after {
  -webkit-transition: none;
  transition: none;
}

body {
  color: black;
}

h2 {
  text-decoration: underline;
  font-weight: bold;
}

.description {
  background-color: #9c9c9c;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-control {
  color: #6e6d6d;
}

.fas {
  padding-left: 1%;
}

#pseudo {
  cursor: pointer;
}

#status_change {
  position: relative;
}

#status_cotainer_change {
  position: relative;
  width: 400px;
  top: 0px;
  padding: 2px;
  margin: 1%;
  display: none;
}

#status_val {
  margin: none;
  width: 312px;
}

#save_status {
  padding: 0px;
  font-size: 11px;
  float: right;
  margin-top: -7%;
}
/*# sourceMappingURL=profil.css.map */