{% extends "front.html.twig" %}

{% block body %}

    <p>Template landing.html.twig</p>
    <p>Ici la première page que écouvrira le visiteur, mais que l'on ne va pas imposer en permanence.</p>
{% endblock %}