{% extends "front.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="css/portfolio.css">
{% endblock %}

{% block main %}

<div class="container">
    <p>Template list.html.twig</p>
    <p>Controlleur Membres : ici l'affichage d'une liste de membres.</p>
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <section id="portfolio" class="clear">
      <ul>
        <li class="odd">
          <article class="clear">
            <figure>
              <figcaption>
                <header>Metridi Conseque</header>
                <p>Nonve nean justo partur odio phasellus consectetuer sem ac id nam risuspend consec tetuerant sapien urna fuscetuer.</p>
                <p class="more"><a href="#">View Full Details &raquo;</a></p>
              </figcaption>
              <a href="#"><img src="images/spacer.gif" alt=""></a></figure>
          </article>
        </li>
        <li class="even">
          <article class="clear">
            <figure>
              <figcaption>
                <header>Metridi Conseque</header>
                <p>Nonve nean justo partur odio phasellus consectetuer sem ac id nam risuspend consec tetuerant sapien urna fuscetuer.</p>
                <p class="more"><a href="#">View Full Details &raquo;</a></p>
              </figcaption>
              <a href="#"><img src="images/spacer.gif" alt=""></a></figure>
          </article>
        </li>
        <li class="odd">
          <article class="clear">
            <figure>
              <figcaption>
                <header>Metridi Conseque</header>
                <p>Nonve nean justo partur odio phasellus consectetuer sem ac id nam risuspend consec tetuerant sapien urna fuscetuer.</p>
                <p class="more"><a href="#">View Full Details &raquo;</a></p>
              </figcaption>
              <a href="#"><img src="images/spacer.gif" alt=""></a></figure>
          </article>
        </li>
        <li class="even">
          <article class="clear">
            <figure>
              <figcaption>
                <header>Metridi Conseque</header>
                <p>Nonve nean justo partur odio phasellus consectetuer sem ac id nam risuspend consec tetuerant sapien urna fuscetuer.</p>
                <p class="more"><a href="#">View Full Details &raquo;</a></p>
              </figcaption>
              <a href="#"><img src="images/spacer.gif" alt=""></a></figure>
          </article>
        </li>
        <li class="odd">
          <article class="clear">
            <figure>
              <figcaption>
                <header>Metridi Conseque</header>
                <p>Nonve nean justo partur odio phasellus consectetuer sem ac id nam risuspend consec tetuerant sapien urna fuscetuer.</p>
                <p class="more"><a href="#">View Full Details &raquo;</a></p>
              </figcaption>
              <a href="#"><img src="images/spacer.gif" alt=""></a></figure>
          </article>
        </li>
        <li class="even">
          <article class="clear">
            <figure>
              <figcaption>
                <header>Metridi Conseque</header>
                <p>Nonve nean justo partur odio phasellus consectetuer sem ac id nam risuspend consec tetuerant sapien urna fuscetuer.</p>
                <p class="more"><a href="#">View Full Details &raquo;</a></p>
              </figcaption>
              <a href="#"><img src="images/spacer.gif" alt=""></a></figure>
          </article>
        </li>
      </ul>
    </section>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div class="pagination">ADD PAGINATION HERE IF NEEDED</div>
    <!-- ####################################################################################################### -->
  </div>
</div>

</div>


{% endblock %}