{% extends 'test.html.twig' %}

{% block body %}
    <h3>Nouveau message pour {{destinataire.pseudo}}</h3>
    <form action="" method="post" id="form_message">
        <input type="text" id="titre" name="titre" placeholder="Titre">
        <textarea id="message" name="message" cols="50" rows="5"></textarea>
        <button type="submit">Envoyer</button>
        <div>
            <a href="/test/list">Liste</a>
        </div>
    </form>

{% endblock %}