{% extends 'test.html.twig' %}
{% block body %}
    {% if app.user is not null %}
        <p>Connecté en tant que {{app.user.pseudo}} (<a href="{{path('test_logout')}}">Déconnexion</a>).</p>
    {% else %}
        <p>Utilisateur anonyme (<a href="{{path('test_login')}}">connexion</a>).</p>
    {% endif %}
    <h2>Bienvenue,
        {{ app.user.pseudo }}</h2>
    <p>Voici le secret à garder précieusement :</p>
    <p>
        <strong>
            <em>Ce n'est pas nous qui codons les applications ; ce sont les applications qui nous décodent.</em>
            <strong></p>
    <div>
        <a href="/test/list">Liste</a>
    </div>
{% endblock %}