{% extends 'test.html.twig' %}
{% block body %}

    <h2>Bienvenue,
        {{ app.user.pseudo }}</h2>
    <p>Voici le secret à garder précieusement :</p>
    <p>
        <strong>
            <em>Ce n'est pas nous qui codons les applications ; ce sont les applications qui nous décodent.</em>
            <strong></p>

        {% endblock %}